{% extends 'base.html.twig' %}

{% block title %}
About
{% endblock %}

{% block body %}
    <h1>About</h1>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Каталог
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {#<a class="dropdown-item" href="{{ path('category', {'slug': 'tv'}) }}">Телевизоры</a>#}
            {#<a class="dropdown-item" href="{{ path('category', {'slug': 'media'}) }}">Мультимедиа</a>#}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Категория 3</a>
        </div>
    </li>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
{% endblock %}